.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  padding-top:20px;
  background-color: lightgray;
  &-list  li{
    font-size: 14px;
    float: left;
    margin-left: 20px;
    color: gray;
  }
  &-list2 li {
    font-size: 14px;
    float: right;
    color: gray;
    margin-right:20px;
  }
}
