.search {
  text-align: center;
  margin-top: 200px;

  &-button {
    font-size:24px;
    line-height: 30px;
    height: 30px;
  }
  .button-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-left: 20px;
    border:5px;
  }
  header {
    img {
      height: 92px;
      width: 272px;
    }
  }

  input {
    outline: none;
    width:100%;
    border: none;
    font-size: 1.2rem;

  }
  .searchComponent {
    width: 350px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 25px auto;
    display: flex;
    width: 35%;

  }
  .searchIcon {
    width: 30px;
    height: 100%;
    padding-left:10px;
    padding-right:10px;
    color: gray;
  }
  .voiceIcon {
    width: 30px;
    height: 20px;
    height: 100%;
    padding-right:10px;
    color: red;
  }
}
